html, body {
  /* margin: 2px; */
  width: 100%;
  height: 100vh;
  background-color: blanchedalmond;
}

.bg {
  /* The image used */
  /* background-image: url('~src/assets/GabrielMeninoComAparelho.jpg'); */
  
  /* Full height */
  /* height: 400px; 
  width: 400px;
  align-items: center;
  align-self: center;
  align-content: center; */
  text-align: center;
  /* width: 50%; */
  margin: 0 auto;
  
  /* Center and scale the image nicely */
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%; */
}

.main-pic{
  width: 25%;  
  height: 25%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  opacity: 50%;
  display: block;
}


